<form class="form" (ngSubmit)="onSubmit()">
  <div class="form__element">
    <label class="label" for="username">Username</label>
    <input
      type="text"
      class="username input"
      [(ngModel)]="username"
      name="username"
      required
    />
  </div>
  <div class="form__element">
    <label class="label" for="email">Email</label>
    <input
      type="email"
      class="email input"
      [(ngModel)]="email"
      name="email"
      required
    />
  </div>
  <div class="form__element">
    <label class="label" for="password">Password</label>
    <input
      type="password"
      class="password input"
      [(ngModel)]="password"
      name="password"
      required
    />
  </div>
  <div class="form__element">
    <button class="button" type="submit">Register</button>
  </div>
</form>
<div>Already a user?<a routerLink="/login">Login</a></div>
