.form {
  padding: 80px 20px;
  margin: 0 auto;
  &__element {
    margin-bottom: 20px;
  }
}
.label {
  color: var(--white-color);
  display: block;
  margin-bottom: 5px;
}
.input {
  width: 90vw;
  height: 40px;
  padding-left: 10px;
  font-size: 16px;
  border-radius: 6px;
}
.button {
  padding: 10px 20px;
  height: 40px;
  border-radius: 6px;
}
