<footer class="footer">
  <div class="copyright">Copyright &copy; 2023 All Rights Reserved</div>
  <ul class="page-list">
    <li class="category">
      <a class="category__link" routerLink="./categories/1/products">Mouse</a>
    </li>
    <li class="category">
      <a class="category__link" routerLink="./categories/2/products"
        >Keyboards</a
      >
    </li>
    <li class="category">
      <a class="category__link" routerLink="./categories/3/products"
        >Headphones</a
      >
    </li>
  </ul>
  <ul class="socials">
    <li><a href="https://github.com/maklaut007" class="fa fa-github"></a></li>
    <li>
      <a
        href="https://github.com/maklaut007"
        class="fa fa-linkedin-square"
        aria-hidden="true"
      ></a>
    </li>
  </ul>
</footer>
