.header {
  width: 100vw;
  background-color: var(--secondary-color);
  padding: 0 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  z-index: 100;
}
.cart__image {
  height: 60px;
  vertical-align: middle;
}
.logo {
  display: flex;
  border-radius: 12px;
  font-size: 2.2rem;
  color: var(--white-color);
  text-transform: uppercase;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  &__image {
    height: 50px;
    vertical-align: middle;
  }
}

.header-margin {
  height: 60px;
}
