.product {
  color: var(--white-color);
  margin: 0 20px;
  padding-top: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  max-width: 800px;
  overflow: hidden;

  &__image > img {
    width: 100%;
    border-radius: 12px;
  }
  &__info {
    background-color: var(--secondary-color);
    padding: 10px;
    border-radius: 12px;
  }
  &__order {
    margin: 20px 0 10px;
    display: flex;
    justify-content: center;
  }
}

.order-button {
  background-color: var(--primary-color);
  width: 40%;
  border-radius: 6px;
  margin-left: 30px;
  color: var(--extra-color);
  font-size: 0.8rem;
  text-transform: uppercase;
  font-weight: 700;
}
@media only screen and (min-width: 1024px) {
  .product {
    margin: 0 auto;
    &__info {
      margin-top: 20px;
      width: 60%;
      padding: 30px;
    }
    &__image > img {
      height: 400px;
      width: 800px;
      object-fit: cover;
      border-radius: 12px;
    }
    &__order {
      justify-content: space-between;
    }
  }
}
